/* Color scheme */
$background-color: rgb(254, 254, 254);
$header-color: rgb(213, 215, 218);
$border-color: rgb(137, 137, 137);
$button-color: rgb(65, 134, 239);
$button-border-color: rgba(65, 134, 239, 0.3);
$font-color: rgb(21, 52, 106);
$placeholder-color: rgb(78, 74, 74);
$accent-color: rgb(167, 191, 93);
